.offcanvas-backdrop.show {
  display: none;
}

.offcanvas.offcanvas-start {
  top: 4.75rem;
  border-radius: 0 15px 0 0;
}

.offcanvas-header {
  border-radius: 0 15px 0 0;
}

/* for asset collection page */

.gridEnclosingContainer {
  width: 80%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5rem;
}

.gridBox {
  width: 100%;
  background-color: yellow;
}

/* for asset container */
.masterConatiner {
  width: 100%;
  height: 35%;
}

.header {
  background-color: brown;
  height: 1.5rem;
  width: 100%;
}
